<!-- include html head -->
<%- include('../partials/header.ejs'); %>

    <!-- include secondary hero section -->
    <%- include('../partials/heroSectionSecondary.ejs'); %>




        <!-- about welcome section start -->
        <section class='about_welcome'>
            <div class="container about_welcome_container">
                <div class="">
                    <img class="welcome_about_image" src="images/aboutMe_01.jpg" alt="">
                </div>
                <div class="about_welcome_content">
                    <h2>Welcome Message</h2>
                    <h1>Hello, my name is Troto Ultra</h1>
                    <p>consectetur adipisicing elit. Sunt provident aut totam optio nesciunt quaerat velit libero iusto!
                        Ex labore doloremque, doloribus cum assumenda veni nurum aperiam id nemo quidem consectetur hic
                        ipsum ullam reprehenderit pariatur a molestias, vel, sapiente reiciendis asperiores dolore vero
                        veniam, expedita maxime? At tenetur odit dolores reprehenderit dolore, eum obcaecati ipsa
                        voluptatibus iure minima sed tempora nesciunt, possimus harum.</p>
                    <button class="wel_button">MORE ABOUT ME</button>
                    <div>Need an advice?<p> 700-658-3985</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- about welcome section end -->

        <!-- newsletter section start -->
        <section class="newsletter">

            <div class="newsletter_container container">
                <div class='newsletter_book'>
                    <img src="images/newsletter_book.png" alt="">
                </div>

                <div>
                    <h2>Sign Up for Newsletter</h2>
                    <p>AND GET FREE E-BOOK OF HEALTHY EATING!</p>
                </div>
                <div>
                    <form class="d-flex" action="">
                        <input type="text" class="form-control">
                        <button class="button" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </section>
        <!-- newsletter section end -->


        <!-- about successful section start -->\
        <section>
            <div class="container about_successful_container">
                <div class="about_welcome_content">
                    <h2>Successful story</h2>
                    <h1>She changed everything in
                        my life…</h1>
                    <p>consectetur adipisicing elit. Sunt provident aut totam optio nesciunt quaerat velit libero iusto!
                        Ex labore doloremque, doloribus cum assumenda veni nurum aperiam id nemo quidem consectetur hic
                        ipsum ullam reprehenderit pariatur a molestias, vel, sapiente reiciendis asperiores dolore vero
                        veniam, expedita maxime? At tenetur odit dolores reprehenderit dolore, eum obcaecati ipsa
                        voluptatibus iure minima sed tempora nesciunt, possimus harum.</p>
                    <b>by Anna Wellington</b><br>
                    <button class="wel_button">READ MORE STORIES</button>
                </div>
                <div class="">
                    <img class="about_successful_image" src="images/aboutMe_01.jpg" alt="">
                </div>

            </div>

        </section>

        <!-- about successful section end -->




        <!-- footer section include -->
        <%- include('../partials/footer.ejs')%>