<!-- include html head -->
<%- include('../partials/header.ejs'); %>

      <!-- include secondary hero section -->
      <%- include('../partials/heroSectionSecondary.ejs'); %>



        <!-- single article page main section  start-->
        <section class='pt-5'>
            <div class=' single_article_container container'>
                <section>
                    <!-- single article start-->
                    <div class="single_article_section">
                        <h5 class="category">BREAKFAST, FEATURED</h5>
                        <h1 class="title">The best Soup Healthy morning Routine</h1>
                        <p class="date"><i class="fas fa-calendar-day"></i> April 23, 2020</p>

                        <img src="images/SLIDE_01.jpg" alt="" class="image">


                        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum sint nobis
                            sit
                            maxime officia
                            quisquam ut ipsam explicabo aliquam aut. Quo quas voluptatibus nulla impedit tempora
                            quisquam
                            dolor ea animi iste, fugiat nisi eos sed dolore, odit suscipit asperiores quod labore et
                            delectus velit saepe. Libero tempore assumenda deserunt veritatis vel, recusandae fugit
                            totam ad
                            repellendus et voluptas soluta saepe laudantium eum reprehenderit error corporis repudiandae
                            odio cum! Aut, mollitia error velit a quo libero eius odit est earum similique officia
                            adipisci
                            qui non sit facere debitis unde blanditiis sequi veritatis? Repellat natus aliquid delectus
                            soluta illum minus similique vero suscipit dolores laudantium, saepe eaque quia fugiat
                            sapiente
                            dicta ducimus voluptatum perspiciatis facilis cupiditate consequuntur maiores esse provident
                            quisquam doloribus? Iure sapiente voluptas saepe necessitatibus ad nihil, dolore ipsam cum
                            provident tempora ab hic labore voluptatum, omnis esse veniam rerum! Magni iste, nihil culpa
                            cupiditate voluptates debitis facilis alias repellat dolorum? Corporis numquam quae minima.
                            Non
                            voluptates, mollitia sint nesciunt at eveniet doloribus? Quis deleniti fugit assumenda vitae
                            impedit reprehenderit deserunt nihil laborum dolorem aliquam repudiandae eligendi tempora
                            modi
                            numquam ipsum sit cupiditate eos commodi explicabo pariatur, provident iure laudantium?
                            Consequuntur error suscipit iure voluptatibus tenetur placeat officiis sequi labore!


                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium earum nesciunt unde
                            voluptatem dolor labore nisi aperiam veniam maiores tempora excepturi minima consequatur
                            aliquid
                            repellat animi dolorum accusantium deleniti, distinctio ea nam voluptate explicabo saepe
                            totam
                            nostrum. Ad accusamus, doloribus amet veritatis laboriosam dolores, expedita dignissimos
                            mollitia excepturi, adipisci molestias dolorum ducimus voluptatum. Sed reiciendis totam
                            praesentium nesciunt esse earum? Voluptate facilis libero deleniti, non earum magnam velit
                            deserunt. Pariatur quam porro reprehenderit illo, fuga, voluptatem aperiam consectetur
                            distinctio, ut eos saepe explicabo. Consequatur ipsam ex velit, aperiam voluptas explicabo
                            adipisci soluta similique vitae necessitatibus aut neque veritatis consequuntur reiciendis?
                            Deserunt, cum facilis. Sequi quisquam modi omnis a quasi optio et, cupiditate est quam
                            adipisci
                            impedit ad vero voluptate odio aut sint rem officia mollitia nisi beatae numquam dicta.
                            Animi
                            distinctio obcaecati a quia perspiciatis cum quasi, magnam voluptatibus? Deleniti suscipit
                            eaque
                            ipsum adipisci iusto id ea, corporis amet, eius officia cum sapiente laborum aut
                            reprehenderit
                            eligendi labore provident iure expedita non blanditiis hic. Molestiae mollitia, excepturi
                            aperiam dolor quis eius officia saepe, ab, assumenda aliquid praesentium? Nesciunt rem cum
                            eos
                            culpa rerum et ea nostrum doloremque eligendi ut facilis maiores facere unde fugit tempore
                            laborum quaerat ex eum dolorem dolor numquam temporibus, asperiores minus vel? Saepe cum
                            aspernatur error, porro, fugit eum eius totam cumque, repellat rerum exercitationem libero
                            voluptate dolore laudantium. Eveniet, esse. Aperiam deleniti debitis repellendus nam.
                            Aliquam
                            repudiandae excepturi illo molestias dicta mollitia in sit rem provident, fugit itaque
                            ducimus
                            culpa id esse, quidem voluptatum vero dolores dolor ut officiis hic. Aliquid quaerat omnis
                            fugit
                            molestiae laborum amet sed reprehenderit architecto commodi maiores quidem saepe, et eum
                            ipsa
                            totam, nesciunt vel sit reiciendis. Soluta sapiente deleniti excepturi molestiae ipsum rerum
                            doloribus beatae, harum fuga ullam, modi labore quidem odio, nulla iste porro corporis
                            doloremque! Illum tempora eaque provident nobis laborum ipsum, ducimus blanditiis eius dolor
                            aliquid quo assumenda error officia et nemo delectus harum enim iusto atque voluptas eos
                            illo.
                            Alias, voluptates aliquid, sint sapiente nihil illum reiciendis rem qui excepturi animi eos
                            ipsam eius consectetur mollitia nobis earum temporibus repellat, minima inventore dolor
                            quam.
                            Aspernatur, recusandae corrupti, reprehenderit molestias fugiat, omnis ab autem dignissimos
                            quae
                            quibusdam a. Nesciunt nostrum saepe est, ratione veniam enim facere praesentium nihil a
                            expedita
                            accusamus itaque, porro commodi obcaecati optio facilis quia iure. Quos mollitia in est.
                            Ducimus, molestias vel quibusdam doloribus natus eaque id reprehenderit expedita? Quibusdam
                            velit, porro alias repellendus, quae pariatur quasi sequi laborum inventore natus, veniam
                            dolore
                            temporibus! Harum perferendis blanditiis quisquam consequatur necessitatibus asperiores
                            maxime.
                            Perspiciatis culpa aliquam expedita eius error quas repellendus cupiditate, distinctio
                            suscipit
                            tempora voluptates reprehenderit? Assumenda nam at nihil provident harum eligendi est
                            inventore,
                            quam recusandae. Consequuntur dolore officiis autem voluptate dolorum eaque delectus dolor,
                            molestiae, quos quis eius possimus mollitia soluta, nihil voluptatem exercitationem!
                            Consectetur
                            iure eius similique perspiciatis inventore quos molestias quasi provident, culpa soluta
                            ducimus,
                            veritatis perferendis placeat sed omnis sint debitis illum voluptatum enim sunt, dolores
                            dolorum
                            necessitatibus. Ratione consequuntur ipsa optio esse cum sint veritatis provident.



                        </p>

                        <div class="share_icon">

                            <ul class="d-flex p-0">
                                <li class=""><i class="fab fa-facebook"></i> </li>
                                <li class=""><i class="fab fa-facebook"></i> </li>
                                <li class=""><i class="fab fa-facebook"></i> </li>
                                <li class=""><i class="fab fa-facebook"></i> </li>

                            </ul>

                        </div>
                    </div>
                    <!-- single article end-->

                    <!-- related article section start -->
                    <div class="related_article_section">

                        <div>
                            <h2>Related articles</h2>
                        </div>
                        <div class="related_articles">

                            <div class="card article_card" style="">
                                <img src="images/featured_01.jpg" class="card-img-top article_card_image" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title article_title">Healthy natural Foood</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of
                                        the card's content.</p>
                                    <a href="#" class="article_redmore">Read More</a>
                                </div>
                            </div>

                            <div class="card article_card" style="">
                                <img src="images/featured_01.jpg" class="card-img-top article_card_image" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title article_title">Healthy natural Foood</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of
                                        the card's content.</p>
                                    <a href="#" class="article_redmore">Read More</a>
                                </div>
                            </div>


                        </div>
                    </div>
                    <!-- related article section end -->
                </section>

                <!-- include main section right for home page -->
                <%- include('../partials/article_sidebar_section_right.ejs'); %>
            </div>
        </section>
        <!-- single article page main section end-->


    <!-- footer section include -->
    <%- include('../partials/footer.ejs')%>