<nav class="navbar navbar-expand-lg py-1">
    <div class="container-fluid px-5">
        <a class="navbar-brand nav_icon" href="#"></i>Food<span style="color:red;">Gate</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="">
                <i class="fas fa-bars"></i>
            </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav_links_ul">
                <li class="nav-item"><a class="nav-link nav_link_li active " aria-current="page" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link nav_link_li" href="/about">About</a></li>
                <li class="nav-item"><a class="nav-link nav_link_li" href="/Article">Article</a></li>
                <li class="nav-item"><a class="nav-link nav_link_li" href="/contact">Contact</a></li>
            </ul>
        </div>

        <div>
            <a class="nav_btn" href="/admin"><abbr title="Only for Admin">Login</abbr></a>
        </div>
    </div>
</nav>